{% extends 'layout.html' %}

{% block body %}
    <h3 style="margin-top:100px;">Hakkımızda</h3>
    <hr>
    <p>
        İyi bir 'Hakkımızda' (veya ‘Hakkımda’) sayfası, önemli biriyle tanıştığınızda sağlam bir el sıkışması etkisi yaratırken, kötü bir "Hakkımızda" sayfasıysa ceketinizin en görünen yerinde sırıtan bir damla yağ lekesi veya dişlerinizin arasında sıkışmış bir maydanoz parçası gibidir. Bu sayfa, işletmenizin güçlü yanlarını göstermenize, faaliyetleriniz hakkında gerekli bilgileri vermenize ve şirketinizin kimliğini genel olarak özetlemenize imkan verir.   
    </p>
    <p>
        Her hikayenin bir başlangıcı vardır. İşletmenizin ne zaman, nerede ve nasıl hayata geçtiğini öğrenmek müşterilerinizin hoşuna gidecektir. Bürokratik süreciniz veya iş fikrinizin bugünlere gelişini anlatarak okuyucularınıza farklı ufuklar açabilirsiniz. Eğer iş dünyanızdaki imajınızla çelişmeyecek ve açıklamakta sakınca görmediğiniz ilgi çekici anekdotlarınız varsa, neden bunları da okuyucularla paylaşmayasınız? Sosyal medya yönetimi işletmenizi büyük büyük dedeniz 1904 yılında kurduysa, bundan bahsetmek lazım. Fakat anekdotların bir yemeğe eklediğiniz baharatlar gibi olduğunu unutmayın. Fazla kaçırırsanız o yemeğin ne tadı kalır ne de tuzu.  
    </p>
    <hr>

{% endblock  %}


