{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-8 offset-md-3">
        <h3> Makaleler </h3>
        <form class="form-inline mr-auto">
            {% csrf_token %}
            <input name="keyword" class="form-control mr-sm-2" type="text" placeholder="Ara" aria-label="Search">
            <button class="btn btn-dark btn-rounded my-0" type="submit">Ara</button>
        </form>  
        <hr>
    </div>
</div>

{% if articles %}
    {% for article in articles %}
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h2 style = "font-size:1.7rem;" class="fw-bolder mb-1"><a href="{% url 'article:detail' article.id %}">{{article.title}}</a></h2>
                    <!-- Post meta content-->
                    <p class = "text-muted fst-italic mb-2">
                        Yazar: {{article.author.username}}
                    </p>
                    <div class="text-muted fst-italic mb-2">Tarih: {{article.created_date}}</div><hr>
                </header>
                <!-- Preview image figure-->
                {% if article.article_image %}
                <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." /></figure>
                {% endif %}
                
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{article.content | safe | truncatewords:25}}</p>
                </section>
                <a style="float:right;" href="/articles/article/{{article.id}}" class="btn btn-primary">Devamını Oku</a>
                <hr style="clear:right;">    
            </article>
        </div>
    </div>
    {% endfor %}
{% else %}
<div class="row">
    <div class="col-md-8 offset-md-3">
        <div class="alert alert-danger">
            Makale bulunamadı
        </div>
    </div>
</div>
{% endif %}


{% endblock  %}



